
.outer-events {
    height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden; /* Prevent horizontal scrolling */
  background: linear-gradient(180deg, #06182e, #0e3059);
}

.title-events {
  font-family: "Anton", sans-serif;
  font-size: 4.5vw;
  background: linear-gradient(180deg, #fff, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  padding-bottom: 3%;
}

.cards {
    position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default to 3 cards per row */
  padding-bottom: 6vh;
  /* gap: 20px;  */
  row-gap: 60px; /* Adjust vertical gap */
  /* padding: 20px; */
  /* width: 80%; */
  justify-items: center;

}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on mobile */
  }
  .title-events {
    font-size: 7vw;
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(1, 1fr); /* 1 card per row on mobile */
    width: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
  }
  .title-events {
    font-size: 12vw;
    margin-top: 5%;
  }
}
