html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    /* transform: translateY(-10%); */
}

.title-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.subtitle{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
    color: #fff;
    letter-spacing: 0.1em;
    opacity: 0.2;

}
.title-inno {
    font-family: "Anton", sans-serif;
    font-size: 6vw;
    background: linear-gradient(180deg, #fff, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}
.logo{
    position: absolute;
    width: 7vw;
    height: 7vw;
    top: 30%;
    opacity: 0.5;
    z-index: 10;
}
.logo:hover {
    animation: bigger 0.6s infinite ease-in-out; /* Override default animation on hover */
    cursor: pointer;
    z-index: 10;
}
.circle0{
    position: absolute;
    width: 85vw;  /* Adjusts based on viewport width */
    height: 85vw; /* Same value as width to keep it a perfect circle */
    border-radius: 50%;
    border: 2px solid rgba(169, 169, 169, 0.2);
    clip-path: ellipse(40% 140% at 50% 60%);
}
.circle01{
    position: absolute;
    width: 85vw;  /* Adjusts based on viewport width */
    height: 85vw; /* Same value as width to keep it a perfect circle */
    border-radius: 50%;
    border: 2px solid rgba(169, 169, 169, 0.2);
    clip-path: ellipse(8% 140% at 58% 60%);
    transform: rotate(90deg);
}

.circle02{
    position: absolute;
    width: 85vw;  /* Adjusts based on viewport width */
    height: 85vw; /* Same value as width to keep it a perfect circle */
    border-radius: 50%;
    border: 2px solid rgba(169, 169, 169, 0.2);
    clip-path: ellipse(10% 140% at 72.65% 60%);
    transform: rotate(-89.75deg);
}

.circle1 {  
    position: absolute;
    /* bottom: 0px; */
    width: 85vw;  /* Adjusts based on viewport width */
    height: 85vw; /* Same value as width to keep it a perfect circle */
    border-radius: 50%;
    /* border: 2px solid rgba(169, 169, 169, 0.2); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

}

.circle2 {
    position: absolute;
    flex-direction: column;
    width: 55vw;  /* Adjusts based on viewport width */
    height: 55vw; /* Same value as width to keep it a perfect circle */
    border-radius: 50%;
    border: 2px solid rgba(169, 169, 169, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    clip-path: ellipse(30% 140% at 50% 60%);
}

.circle2-alias{
    position: absolute;
    flex-direction: column;
    width: 55vw;  /* Adjusts based on viewport width */
    height: 55vw; /* Same value as width to keep it a perfect circle */
    border-radius: 50%;
    border: 2px solid rgba(169, 169, 169, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    clip-path: ellipse(35% 140% at 56.2% 60%);
    transform: rotate(91deg);

}

.circle3{
    position: relative;
    width: 30vw;  /* Adjusts based on viewport width */
    height: 30vw; /* Same value as width to keep it a perfect circle */
    border-radius: 50%;
    border: 3px solid rgba(169, 169, 169, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    clip-path: ellipse(46% 100% at 50% 40%);
}
/* .circle1, .circle2, .circle3 {
    overflow: hidden;
} */


.sanga-box, .abhivyakta-box, .vidyut-box, .kaaryavarta-box, .saahitya-box, .yantrika-box{ 
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    

}
.sanga-box{
    top: 40%;
    left: -4%;
    width: 10vw;
}

.abhivyakta-box{
    bottom: 20%;
    left: 0%;
    width:11vw;
}

.vidyut-box{
    top: 38%;
    right: -4%;
    width: 8vw;
}

.kaaryavarta-box{
    bottom: 20%;
    right: 0%;
    width: 8vw;
}
.yantrika-box{
    top: 20%;
    left: 25%;
    width: 5vw;
}
.saahitya-box{
    top: 22%;
    right: 22%;
    width: 7vw;
}

.sanga {
    animation: hover 3s infinite ease-in-out;
    animation-delay: 0s; /* No delay */
}

.abhivyakta {
    animation: hover 3s infinite ease-in-out;
    animation-delay: 0.5s; /* Slight delay */
}

.vidyut{
    animation: hover 3s infinite ease-in-out;
    animation-delay: 1s; /* More delay */
}
.saahitya {
    animation: hover 3s infinite ease-in-out;
    animation-delay: 1.5s; /* More delay */
}
.kaaryavarta {
    animation: hover 3s infinite ease-in-out;
    animation-delay: 1.8s; /* More delay */
}
.yantrika {
    animation: hover 3s infinite ease-in-out;
    animation-delay: 2.2s; /* More delay */
}

@keyframes hover {
    0%, 100% {
        transform: translateY(0); /* At rest */
    }
    50% {
        transform: translateY(-2vw); /* Hover upwards */
    }
}




.sanga:hover, .abhivyakta:hover, .vidyut:hover, .saahitya:hover, .kaaryavarta:hover, .yantrika:hover {
    animation: vibrate 0.6s infinite ease-in-out !important; /* Override default animation on hover */
}
@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}


.text{
    font-family: "Anton", sans-serif;

    font-size: 1.5vw;
    color: #fff;
    /* letter-spacing: 0.1em; */
    opacity: 0.3;
    text-align: center;
    padding-top: 5px;
    
}


@keyframes bigger {
    0%, 100% {
        transform: scale(1); /* At rest */
    }
    50% {
        transform: scale(1.1); /* Hover upwards */
    }
}


.semi-circle{
    position: absolute;
    top: -2%;
    width: 8vw;
    height: 2vw;
    background-color: #081120;
    background-color: #164b8d;
}

